.designblurb {
    height: 25%;
}

.dh1 {
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    font-size: 400%;
    color:     #4d4d4d;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.dh2 {
    text-align: center;
    color: #f2f2f2;
    background: #ff4a4a;
    line-height: 100%;
    font-weight: 700;
    font-size: 400%;
    padding: 10px;
    font-family: 'Libre Baskerville', serif;
    font-size: 400%;
    width: 25%;
    margin: auto;
}

.loadRow{
  display: flex;
}

.loadRow>img{
    flex: 1;
    width: 40%;
    height: 40%;
}

.texts{
    flex: 1;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.texts>p{
    font-size: 200%;
    font-family: monospace;
    text-align: center;
}

#in{
    color: white;
    background-color: black;
    padding: 10px;
}

.padd{
    padding: 10px;
}
