#page{
/*    position: fixed;*/
    order:2;
    flex: 4;
}

.stickynav{
 height: 10%;
    position: fixed;
    width: 100%;
/*    bottom: 0;*/
    background: rgba(50,50,50,.95);
    display: flex;
    -webkit-backdrop-filter: blur(10px); /* For the lucky few */
    justify-content: center;
    align-items: center;
    z-index: 10002;
}

.ico{
    color: aliceblue;
    padding: 10px;    
}

.content {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.name {
    color: #292929;
    font-family: 'Bitter', serif;
    font-size: 400%;
    font-weight: normal;
    line-height: 48px;
    padding-bottom: 20px;
}

.tag {
    width: 100%;
    font-size: 200%;
    color: grey !important;
    display: block;
    text-align: right;
}


.nav {
    text-decoration: none;
    color: #DE9453;
    font-size: 124%;
}

.links {
    display: block;
    position: static;  
}

html,
body {
    height: 100%;
    margin: 0;
}

.header {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    background-color: #423E49;
    text-align: center;
    min-height: 50px;
    max-height: 20%;
}

li.nav>a {
    text-decoration: none !important;
    /* no underline */
}

@media (max-width: 480px) {
    code {
        display: none;
    }
}


.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* IE < 8 */
}